<div class="container">
    <div class="col-lg-12 col-sm-12">
        <h1>Transactions</h1>

        <table class="table table-striped">
            <thead class="table-head">
                <tr>
                    <td>Date</td>
                    <td>Name</td>
                    <td class="numberCell">Amount</td>
                    <td>Category</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {{#each transaction in controller}}
                    <tr>
                        <td>{{formatDate transaction.createDate}}</td>
                        <td>{{transaction.name}}</td>
                        <td class="numberCell">{{formatAmount transaction.amount}}</td>
                        <td>{{transaction.category}}</td>
                        <td><button class="btn btn-danger btn-xs" {{action 'deleteTransaction' transaction.id}}>x</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>